body {
    margin: 0;
    padding: 0;
}

.input{
    padding: 1px 7px;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid black;
}
input[type="number"]{
    font-size: 15px;
    width:150px;
}
.label{
    font-weight: 800;
    color: black;
    font-size: 18px;
}
h1{
    border-radius: 12px;
    font-size: 2.3rem;
    color: rgb(5,5,6);
    padding-left: 15px;
    padding-top: 25px;
}
p{
    font-size: 16px;
    color: rgb(249,249,249);
}
.maindiv{
    width: 100vw;
    height: 100vh;
    background-image: url(BMI.jpeg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70vh;
    width: 26vw;
    backdrop-filter: blur(20px);
    background: rgba(167, 95, 95, 0.2);
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #a98888;
    padding-left: 30px;
}
button{
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 9vw;
    background-color: rgb(230, 155, 56);
}
.result-box >h2{
    padding-top: .3vw;
    text-align: center;
    margin-right: 35px;
}
.weight-guide{
    padding-left: 5.5vw;
}
.weight-guide>h4{
    padding-left: 2.5vw;
}

@media screen and (max-width: 1000px) {
    .container {
        width: auto;
        height: auto;
    }

}

@media screen and (max-width: 500px) {
    h4 {
        text-align: center;
        margin-right: 35px;
    }

    h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    input[type="number"]{
        width: 120px;
    }

    .weight-guide{
        padding-left: 2.5vw;
    }

    button {
        display: flex;
        margin-left: 25%;
    }
    .result-box >h2{
        padding-top: .3vw;
        text-align: center;
        margin-right: 0;
    }
}
